# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/build
/.swc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode/
.idea/
*.iml
*.iws
*.ipr

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# logs
logs
*.log

# production build output
/dist
/build

# temporary files
*.swp
*.swo
.DS_Store
Thumbs.db
